.PhoneBookFormSection {
    width: 410px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 12px;
}

.PhoneBookFormTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.PhoneBookFormForm {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
}

.PhoneBookFormInput {
    width: 100%;
    height: 40px;
    border: 2px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    background-color: aliceblue;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.PhoneBookFormInput:focus {
    border-color: yellow;
}

.PhoneBookFormSpan {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #fff;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.PhoneBookFormButton {
    min-width: 169px;
    padding: 16px 32px 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-self: center;
    letter-spacing: 0.04em;
    color: #0d0d0e;
    background-color: aliceblue;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.PhoneBookFormButton:hover{
    background-color: yellow;
}